.loading {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: $backdrop_color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;

  span {
    background-color: $white;
    padding: 20px 23px;
    border-radius: 10px;
  }
}
